# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

agent2d-3.1.1/
librcsc-4.1.0/
rcssmonitor-15.2.0/
rcssserver-16.0.0/

script/*
!script/script_futebol_2d.sh
